%html
  %head
    %title tx.pignata.com :: #{article.title}
    %link{href: "/stylesheets/article.css", type: "text/css", rel: "stylesheet"}
    %script{type: "text/javascript", src: "//use.typekit.net/wqu7hjl.js"}
    :javascript
      try { Typekit.load(); } catch(e) {}

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-27329722-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body
    #container
      .left
        %header
          .left
            .ribbon &nbsp;
            %h2
              %a{href: "/"} tx.pignata.com
            .contact
              %p
                email&nbsp;&nbsp;
                %a{href: "mailto:john@pignata.com"} john@pignata.com
              %p
                twitter
                %a{href: "http://twitter.com/jpignata"} @jpignata
          .clearfix

        %nav
          - articles.each do |article|
            .article
              %a{href: article.permalink}= article.title
              %p #{article.date.strftime("%x")} &mdash; #{article.summary}

      .left
        %article
          %p.date= article.date.strftime("%A, %B %d, %Y")

          %h1= article.title

          = article.content

          %p
            %em
              Thoughts, questions, or feedback? Please share! I'm
              %a{href: "https://twitter.com/jpignata"} @jpignata
              on Twitter and available via email at
              %a{href: "mailto:john@pignata.com"} john@pignata.com

      .clearfix
